.graphiql-container {
    height: 650px !important;
    text-align: left;
    margin-top: 10px !important;
}

.react-live {
    margin-top: 10px !important;
}

.graphiql-container .doc-explorer-title, .graphiql-container .history-title, .graphiql-container .doc-explorer-back {
    overflow: visible !important;
}

.graphiql-container .CodeMirror {
    font-size: 24px !important;
}

.CodeMirror-hints {
    font-size: 24px !important;
}